# Ignore raw data files and directories
# data/
# *.csv

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Environment variables
.env

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo


final_audit_report.md

error_log.txt
